.env
.project
.settings
.buildpath
/vendor
/.idea

storage/debugbar/
storage/logs/
/node_modules
/public/storage
/public/build

Homestead.json
Homestead.yaml

_ide_helper.php
oauth-private.key
oauth-public.key
